@import "tailwindcss";

@theme {
  --color-grey: #708090;
  --color-red: #9A2A2A;
}

:root {
  --background: #e6e6e6;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
